
div.ex1 {
  width:auto;
  margin: 20px;
  border: 3px solid #5CCD95;
}

body {
background-color:#FADBD8;
}

h1 {
color:#5DADE2
}

.topright {
  position: absolute;
  top: 50px;
  right: 30px;
}

.topnextright {
  position: absolute;
  top: 8px;
 
}
img.resizeskirt {
  width: 100%;
  height: auto;
}

img.resizepolo {
  width: 82%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.resizejacket {
  width: 85%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
